*.la
*.o
.deps
.dirstamp
.libs
.stamps
Makefile
Makefile.in

# /
/aclocal.m4
/configure
/config.log
/config.status
/autom4te.cache
/libtool

# /build/
/build

# /codegen/extradefs/
/codegen/extradefs/generate_extra_defs

# /doc/reference/
/doc/reference/Doxyfile
/doc/reference/doxygen.log
/doc/reference/html
/doc/reference/poppler-glibmm-1.0.devhelp2
/doc/reference/poppler-glibmm-1.0.tag

# /examples/demo/
/examples/demo/poppler-glibmm-demo

# /poppler-glib/
/poppler-glib/poppler-glibmmconfig.h
/poppler-glib/poppler-glibmm-1.0.pc
/poppler-glib/svn-prop.tmp
/poppler-glib/poppler-glibmm-1.0-uninstalled.pc
/poppler-glib/stamp-h2

# /poppler-glib/poppler-glibmm/
/poppler-glib/poppler-glibmm/*.lo
/poppler-glib/poppler-glibmm/action.cc
/poppler-glib/poppler-glibmm/action.h
/poppler-glib/poppler-glibmm/annot.cc
/poppler-glib/poppler-glibmm/annot.h
/poppler-glib/poppler-glibmm/annot_callout_line.cc
/poppler-glib/poppler-glibmm/annot_callout_line.h
/poppler-glib/poppler-glibmm/annot_mapping.cc
/poppler-glib/poppler-glibmm/annot_mapping.h
/poppler-glib/poppler-glibmm/attachment.cc
/poppler-glib/poppler-glibmm/attachment.h
/poppler-glib/poppler-glibmm/color.cc
/poppler-glib/poppler-glibmm/color.h
/poppler-glib/poppler-glibmm/document.cc
/poppler-glib/poppler-glibmm/document.h
/poppler-glib/poppler-glibmm/error.cc
/poppler-glib/poppler-glibmm/error.h
/poppler-glib/poppler-glibmm/font_info.cc
/poppler-glib/poppler-glibmm/font_info.h
/poppler-glib/poppler-glibmm/fonts_iter.cc
/poppler-glib/poppler-glibmm/fonts_iter.h
/poppler-glib/poppler-glibmm/form_field.cc
/poppler-glib/poppler-glibmm/form_field.h
/poppler-glib/poppler-glibmm/form_field_mapping.cc
/poppler-glib/poppler-glibmm/form_field_mapping.h
/poppler-glib/poppler-glibmm/image_mapping.cc
/poppler-glib/poppler-glibmm/image_mapping.h
/poppler-glib/poppler-glibmm/index_iter.cc
/poppler-glib/poppler-glibmm/index_iter.h
/poppler-glib/poppler-glibmm/layer.cc
/poppler-glib/poppler-glibmm/layer.h
/poppler-glib/poppler-glibmm/layers_iter.cc
/poppler-glib/poppler-glibmm/layers_iter.h
/poppler-glib/poppler-glibmm/link_mapping.cc
/poppler-glib/poppler-glibmm/link_mapping.h
/poppler-glib/poppler-glibmm/media.cc
/poppler-glib/poppler-glibmm/media.h
/poppler-glib/poppler-glibmm/movie.cc
/poppler-glib/poppler-glibmm/movie.h
/poppler-glib/poppler-glibmm/page.cc
/poppler-glib/poppler-glibmm/page.h
/poppler-glib/poppler-glibmm/page_transition.cc
/poppler-glib/poppler-glibmm/page_transition.h
/poppler-glib/poppler-glibmm/ps_file.cc
/poppler-glib/poppler-glibmm/ps_file.h
/poppler-glib/poppler-glibmm/rectangle.cc
/poppler-glib/poppler-glibmm/rectangle.h
/poppler-glib/poppler-glibmm/text_attributes.cc
/poppler-glib/poppler-glibmm/text_attributes.h
/poppler-glib/poppler-glibmm/utility.cc
/poppler-glib/poppler-glibmm/utility.h

# /poppler-glib/poppler-glibmm/private/
/poppler-glib/poppler-glibmm/private/action_p.h
/poppler-glib/poppler-glibmm/private/annot_callout_line_p.h
/poppler-glib/poppler-glibmm/private/annot_mapping_p.h
/poppler-glib/poppler-glibmm/private/annot_p.h
/poppler-glib/poppler-glibmm/private/attachment_p.h
/poppler-glib/poppler-glibmm/private/color_p.h
/poppler-glib/poppler-glibmm/private/document_p.h
/poppler-glib/poppler-glibmm/private/error_p.h
/poppler-glib/poppler-glibmm/private/font_info_p.h
/poppler-glib/poppler-glibmm/private/fonts_iter_p.h
/poppler-glib/poppler-glibmm/private/form_field_mapping_p.h
/poppler-glib/poppler-glibmm/private/form_field_p.h
/poppler-glib/poppler-glibmm/private/image_mapping_p.h
/poppler-glib/poppler-glibmm/private/index_iter_p.h
/poppler-glib/poppler-glibmm/private/layer_p.h
/poppler-glib/poppler-glibmm/private/layers_iter_p.h
/poppler-glib/poppler-glibmm/private/link_mapping_p.h
/poppler-glib/poppler-glibmm/private/media_p.h
/poppler-glib/poppler-glibmm/private/movie_p.h
/poppler-glib/poppler-glibmm/private/page_p.h
/poppler-glib/poppler-glibmm/private/page_transition_p.h
/poppler-glib/poppler-glibmm/private/ps_file_p.h
/poppler-glib/poppler-glibmm/private/rectangle_p.h
/poppler-glib/poppler-glibmm/private/text_attributes_p.h
/poppler-glib/poppler-glibmm/private/utility_p.h
